.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none;
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    letter-spacing: 0px;
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin: 66px 0 0;
    padding: 10px 139px 10px 138px;
  }

  .u-section-1 .u-btn-2 {
    letter-spacing: 0px;
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin: 61px 0 0;
    padding: 10px 153px 10px 152px;
  }

  .u-section-1 .u-btn-3 {
    letter-spacing: 0px;
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
    margin: 61px 0 60px;
    padding: 10px 142px 10px 141px;
  }
}